<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.valevich.game"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:name=".GameApplication_"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_config"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.MainActivity_"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ui.activities.TourActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.activities.OfflineGameConfigActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.activities.EnterActivity_">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.EnterActivity_"/>

        </activity>

        <activity android:name=".ui.activities.EnterActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".ui.activities.ResultsActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.activities.GameFinalActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <!--jobs -->
        <service
            android:name="com.evernote.android.job.v21.PlatformJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name="com.evernote.android.job.v14.PlatformAlarmService"
            android:exported="false"/>

        <receiver
            android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <!-- Keep the filter for legacy intents -->
                <action android:name="com.evernote.android.job.v14.RUN_JOB"/>
                <action android:name="net.vrallev.android.job.v14.RUN_JOB"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.evernote.android.job.JobBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>