<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.balinasoft.clever"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:name="com.balinasoft.clever.GameApplication_"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_config"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.TourActivityOffline_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.balinasoft.clever.ui.activities.OfflineGameConfigActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:parentActivityName="com.balinasoft.clever.ui.activities.OfflineGameConfigActivity_">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.balinasoft.clever.ui.activities.OfflineGameConfigActivity_"/>

        </activity>

        <activity android:name="com.balinasoft.clever.ui.activities.EnterActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.balinasoft.clever.ui.activities.SplashActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name="com.balinasoft.clever.ui.activities.ResultsActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.balinasoft.clever.ui.activities.GameFinalActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.balinasoft.clever.ui.activities.BonusActivity_"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <service
            android:name="com.balinasoft.clever.services.QuestionStatsService_"/>

        <service
            android:name="com.balinasoft.clever.services.UserStatsService_"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf1811db581bcbfaf2848ff7712325df8b70afb0" />

    </application>

</manifest>